.dropbtn {
    background-color: #4b5563;
    color: white;
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: #4b5563;
    color: #ddd;
    border-bottom: 4px;
    border-bottom-color: #ddd;
}

.dropdown{
    position: relative;
    display: inline-block;
    /* float:inline-start; */
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* overflow: auto;
    right: 1; */
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.show{
    display: block;
}

.dropdown-option{
    display: block;
    padding: 12px 16px;
    color: #000000;
    font-family: sans-serif;
    text-underline-offset: none;
    text-decoration: none;
}