@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.table{
    @apply table-auto w-auto
}

.table th {
    @apply px-6 py-2 bg-gray-800 text-white font-medium 
    uppercase leading-4 tracking-wider
}

.table tr {
    @apply border-b border-gray-300
}

.table td {
    @apply px-4 py-2 whitespace-normal text-center
}

.td-action{
    @apply flex px-2 py-2 whitespace-normal
}

.form-control {
    @apply block py-1 shadow-sm bg-gray-100 border-t-0 border-l-0 border-r-0 border-b-2 rounded-sm border-b-gray-400 
    focus:bg-gray-200 hover:bg-gray-200 focus:ring-0 focus:border-b-green-400 valid:border-b-green-400
}

.form-area{
    @apply block shadow-sm bg-gray-100 w-full border-t-0 border-l-0 border-r-0 border-b-2 rounded-sm border-b-gray-400 
    focus:bg-gray-200 hover:bg-gray-200 focus:ring-0 focus:border-b-gray-400
}

.card{
    @apply p-6 rounded-md shadow-md
}

.card-white{
    @apply bg-white
}

.btn{
    @apply inline-flex border rounded py-3 px-3 border-2 font-bold shadow-sm transition-all 
}

.btn-primary-outline{
    @apply border-blue-500 text-blue-600 hover:bg-blue-500 hover:text-white fill-blue-600 hover:fill-white
}

.btn-success-outline{
    @apply border-emerald-500 text-emerald-600 hover:bg-emerald-500 hover:text-white fill-emerald-600 hover:fill-white
}

.btn-danger-outline{
    @apply border-red-500 text-red-600 hover:bg-red-500 hover:text-white fill-red-600 hover:fill-white
}

.btn-warning-outline{
    @apply border-yellow-500 text-yellow-600 hover:bg-yellow-500 hover:text-white fill-yellow-600 hover:fill-white
}

.btn-secundary-outline{
    @apply border-gray-500 text-gray-600 hover:bg-gray-500 hover:text-white fill-gray-600 hover:fill-white
}

.btn-info-outline{
    @apply border-sky-500 text-sky-600 hover:bg-sky-500 hover:text-white fill-sky-600 hover:fill-white
}

.btn-light-outline{
    @apply border-gray-200 text-gray-800 hover:bg-gray-100 hover:text-gray-800 fill-gray-800 hover:fill-gray-700
}
.btn-dark-outline{
    @apply border-gray-800 text-gray-900 hover:bg-gray-800 hover:text-white fill-gray-900 hover:fill-white
}

.title{
    @apply text-2xl font-bold underline underline-offset-4
}
.subtitle{
    @apply text-xl font-bold underline underline-offset-4
}

.list-group{
    @apply border rounded-lg
}
.list-group-item{
    @apply border-b-2 py-2 hover:bg-gray-100
}
.active{
    @apply bg-blue-600 text-white hover:bg-blue-700 font-bold
}
.checkbox{
    @apply appearance-none bg-transparent text-purple-800
    focus:ring-0 focus:ring-offset-0 checked:bg-purple-800 border-gray-300 border-2 accent-purple-800
}
